.note {
  margin-bottom: 2rem;
  padding: 2rem;

  > .styleguide {
    margin-right: 0;
    margin-left: 0;
  }

  > ul.styleguide,
  > ol.styleguide {
    margin-left: 2rem;
  }

  > .styleguide:last-child {
    margin-bottom: 0;
  }
}