p.styleguide,
table.styleguide {
  margin-right: 2rem;
  margin-bottom: 2 * $base-spacing-unit;
  margin-left: 2rem;
}

h1.styleguide,
h2.styleguide,
h3.styleguide {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: $base-spacing-unit;
  line-height: 4 * $base-spacing-unit;
  padding-top: 2 * $base-spacing-unit;
}

ul.styleguide {
  margin-right: 2rem;
  margin-bottom: 2 * $base-spacing-unit;
  margin-left: 4rem;

  > li {
    margin-bottom: 1rem;
  }
}

@include breakpoint("sm") {
  h1.styleguide,
  h2.styleguide,
  h3.styleguide,
  p.styleguide,
  table.styleguide {
    margin-right: 0;
    margin-left: 0;
  }

  ul.styleguide {
    margin-left: 2rem;
  }
}

p.styleguide {
  margin-bottom: $base-spacing-unit;
}

code.styleguide {
  background-color: transparentize(map-get($colors, "black"), 0.96);
  display: inline-block;
  vertical-align: top;

  &::before,
  &::after {
    content: "\00a0";
    letter-spacing: -0.2rem;
  }
}


table.styleguide {
  @include fortitude-table(4rem, 0.1rem, solid);
}



.page-nav {
  font-size: 2.4rem;
  left: 1rem;
  position: fixed;
  top: 5rem;
  z-index: 1;

  > i {
    vertical-align: middle;
    &::after {
      background-color: map-get($colors, "white");
      border-radius: 100rem;
      content: "";
      display: inline-block;
      height: 1.6rem;
      left: -2rem;
      position: relative;
      width: 1.6rem;
      z-index: -1;
    }
  }
}