.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
  overflow-x: hidden;
}

a {
  color: #037E8C;
  text-decoration: none;
  &:hover {
  	color: #025E69;
  	text-decoration: underline;
  }

}