.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
  overflow-x: hidden;
}

a {
  color: $brand-links;
  text-decoration: none;
  &:hover {
    color: shade($brand-links, 25%);
    text-decoration: underline;
  }

}

code {
  border: 1px solid $brand-yellow;
  background-color: $brand-yellow;
  color: $brand-black;
  padding: 0.2rem;
}
