$brand-black: #404040;
$brand-blue: #024959;
$brand-teal: #037E8C;
$brand-yellow: #F2EFDC;
$brand-orange: #F24C27;
$brand-white: #F5F5F5;


$base-background-color: $brand-white;
$base-text-color: $brand-black;

$brand-links: $brand-blue;
