<div class="container">
  <div class="box box--white">
    <div class="layout xs-pt2 xs-prlh0">
      <div class="layout__item">
        <h1 class="xs-alpha xs-mb2">Documentation</h1>
      </div>
      <div class="layout__item xs-mb2">
        <h2 class="xs-beta xs-mbh0">Badge</h2>
        <div class="content--markdown xs-mb1" data-markdown>
          The `badge` object is used to highlight small pieces of content.
        </div>
        <div class="layout">
          <div class="layout__item sm-6of12">
            <div class="field">
              <label class="label label--block text-medium">Code</label>
              <div class="content--markdown xs-mb1" data-code-preview="html">
                <span class="badge">1</span>
              </div>
            </div>
          </div>
          <div class="layout__item sm-6of12">
            <div class="field">
              <label class="label label--block text-medium">Preview</label>
                <span class="badge badge--docs">1</span>
            </div>
          </div>
        </div>
      </div>
      <div class="layout__item xs-mb2">
        <h2 class="xs-beta xs-mbh0">Box</h2>
        <div class="content--markdown xs-mb1" data-markdown>
          The `box` object simply boxes off content.
        </div>
        <div class="layout">
          <div class="layout__item sm-6of12">
            <div class="field">
              <label class="label label--block text-medium">Code</label>
              <div class="content--markdown xs-mb1" data-code-preview="html">
                <div class="box xs-p1">
                  <h1 class="xs-mb1">Some Content</h1>
                  <p>
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="layout__item sm-6of12">
            <div class="field">
              <label class="label label--block text-medium">Preview</label>
              <div class="box box--docs xs-p1">
                <h1 class="xs-mb1">Some Content</h1>
                <p>
                  Lorem ipsum dolor sit amet,
                  consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupidatat non proident,
                  sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="layout__item xs-mb2">
        <h2 class="xs-beta xs-mbh0">Button</h2>
        <div class="content--markdown xs-mb1" data-markdown>
          The `button` object is used to provide consistant styles across
          all types of button elements.
        </div>
        <div class="layout">
          <div class="layout__item sm-6of12">
            <div class="field">
              <label class="label label--block text-medium">Code</label>
              <div class="content--markdown xs-mb1" data-code-preview="html">
                <a href="#" class="button xs-prl1">Click Here</a>
                <a href="#" class="button button--block">Click Here</a>
              </div>
            </div>
          </div>
          <div class="layout__item sm-6of12">
            <div class="field">
              <label class="label label--block text-medium">Preview</label>
                <a href="#" class="button button--docs xs-prl1">Click Here</a>
                <a href="#" class="button button--block button--docs">Click Here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="layout__item xs-mb2">
        <h2 class="xs-beta xs-mbh0">Container</h2>
        <div class="content--markdown xs-mb1" data-markdown>
          * A `container` element wraps your content and sizes it according to [your breakpoint settings](https://github.com/fortitude/fortitude-sass/blob/master/app/assets/stylesheets/fortitude/settings/_defaults.scss#L130)
          * The `container-fluid` class works like `container` but with no breakpoints, resizing constantly.
          * The `container--fixed-top` modifier fixes your container to the top of the screen.
        </div>
        <div class="layout">
          <div class="layout__item">
            <div class="field">
              <label class="label label--block text-medium">Code</label>
              <div class="content--markdown xs-mb1" data-code-preview="html">
                <div class="container">
                  I am the page's content, centered within the viewport, resizing at breakpoints.
                </div>
                <div class="container-fluid">
                  I am the page's content, centered within the viewport, resizing constantly (no breakpoints).
                </div>
                <div class="container--fixed-top">
                  I am the page's content, centered within the viewport, and fixed to the top of the page.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="layout__item xs-mb2">
        <h2 class="xs-beta xs-mbh0">Field</h2>
        <div class="content--markdown xs-mb1" data-markdown>
          The `field` object is used to wrap inputs into.
          You can also wrap specific states to a field like,
          if its invalid/valid/required/etc.
        </div>
        <div class="layout">
          <div class="layout__item sm-6of12">
            <div class="field">
              <label class="label label--block text-medium">Code</label>
              <div class="content--markdown xs-mb1" data-code-preview="html">
                <div class="field">
                  <input type="text" class="input input--text" value="Hello World" />
                  <div class="field__message">Message Content</div>
                </div>
              </div>
            </div>
          </div>
          <div class="layout__item sm-6of12">
            <div class="field">
              <label class="label label--block text-medium">Preview</label>
              <div class="field field--docs">
                <input type="text" class="input input--text" value="Hello World" />
                <div class="field__message">Message Content</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="layout__item xs-mb2">
        <h2 class="xs-beta xs-mbh0">Flashbar</h2>
        <div class="content--markdown xs-mb1" data-markdown>
          The `flashbar` object is used to display flash messages.
        </div>
        <div class="layout">
          <div class="layout__item sm-6of12">
            <div class="field">
              <label class="label label--block text-medium">Code</label>
              <div class="content--markdown xs-mb1" data-code-preview="html">
                <div class="flashbar">
                  <div class="container">
                    <div class="layout xs-prlh0">
                      <div class="layout__item">Hello World</div>
                    </div>
                  </div>
                  <div class="flashbar__close">&times;</div>
                </div>
              </div>
            </div>
          </div>
          <div class="layout__item sm-6of12">
            <div class="field">
              <label class="label label--block text-medium">Preview</label>
              <div class="flashbar flashbar--docs">
                <div class="container-fluid">
                  <div class="layout xs-prlh0">
                    <div class="layout__item">Hello World</div>
                  </div>
                </div>
                <div class="flashbar__close">&times;</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="layout__item xs-mb2">
        <h2 class="xs-beta xs-mbh0">Navigationbar</h2>
        <div class="content--markdown xs-mb1" data-markdown>
          The `navigationbar` object is used for navigation of the site.
        </div>
        <div class="layout">
          <div class="layout__item sm-6of12">
            <div class="field">
              <label class="label label--block text-medium">Code</label>
              <div class="content--markdown xs-mb1" data-code-preview="html">
                <div class="navigationbar">
                  <div class="container--fluid">
                    <div class="navigationbar__header">
                      <a class="navigationbar__header__logo" href="#">Hello</a>
                      <a class="navigationbar__header__toggle">
                        <img alt="Toggle Menu" class="icon icon--menu" height="16" src="images/spacer.gif" width="20">
                      </a>
                    </div>
                    <nav class="collapse navigationbar__collapse">
                      <ul class="navigation navigationbar__navigation navigationbar__navigation--right">
                        <li class="navigation__item">
                          <a class="navigation__link navigation__link--world" href="#">World</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layout__item sm-6of12">
            <div class="field">
              <label class="label label--block text-medium">Preview</label>
              <div class="navigationbar navigationbar--docs">
                <div class="container--fluid">
                  <div class="navigationbar__header">
                    <a class="navigationbar__header__logo" href="#">Hello</a>
                    <a class="navigationbar__header__toggle">
                      <img alt="Toggle Menu" class="icon icon--menu" height="16" src="images/spacer.gif" width="20">
                    </a>
                  </div>
                  <nav class="collapse navigationbar__collapse">
                    <ul class="navigation navigationbar__navigation navigationbar__navigation--right">
                      <li class="navigation__item">
                        <a class="navigation__link navigation__link--world" href="#">World</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="layout__item xs-mb2">
        <h2 class="xs-beta xs-mbh0">Tabs</h2>
        <div class="content--markdown xs-mb1" data-markdown>
          The `tabs` object is used to build tabbed navigations.
        </div>
        <div class="layout">
          <div class="layout__item sm-6of12">
            <div class="field">
              <label class="label label--block text-medium">Code</label>
              <div class="content--markdown xs-mb1" data-code-preview="html">
                <ul class="tabs">
                  <li class="tabs__item">
                    <a href="#">Item 1</a>
                  </li>
                  <li class="tabs__item tabs__item--is-active">
                    <a href="#">Item 2</a>
                  </li>
                  <li class="tabs__item">
                    <a href="#">Item 3</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="layout__item sm-6of12">
            <div class="field">
              <label class="label label--block text-medium">Preview</label>
              <ul class="tabs tabs--docs">
                <li class="tabs__item">
                  <a href="#">Item 1</a>
                </li>
                <li class="tabs__item tabs__item--is-active">
                  <a href="#">Item 2</a>
                </li>
                <li class="tabs__item">
                  <a href="#">Item 3</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
