<div class="xs-2"></div>
<div class="container xs-prlh0 sm-prl0">
  <div class="layout xs-mb2">
    <div class="layout__item">
      <h1 class="xs-alpha">Why use Fortitude?</h1>
    </div>
    <div class="layout__item">
      <h2 class="xs-gamma">Designed for products, not prototypes.</h2>
      <h4 class="xs-delta">And it's Better Than Bootstrap&trade;</h4>
    </div>
  </div>
  <div class="layout xs-mb2 ">
    <div class="layout__item">
      <h2 class="xs-gamma">See all the things, all the time</h2>
    </div>
    <div class="layout__item">
      <p class="xs-gamma">
        Fortitude is architected around one simple principle:
        keep developers out of the css and provide them with a consistent API to compose views, all in markup.
        <br />Semantic zealots: <strong>you're wrong.</strong>
      </p>
    </div>
  </div>

  <div class="layout xs-mb2">
    <div class="layout__item">
      <h2 class="xs-gamma">Vertical Rhythm</h2>
    </div>
    <div class="layout__item">
      <p class="xs-gamma">
        Good vertical rhythm guides the user's gaze comfortably through your content by ensuring consistent,
        predictable vertical spacing between all elements.  Everything in Fortitude respects a base vertical
        unit of size, Doing The Math For You&trade;.
      </p>
    </div>
  </div>

  <div class="layout xs-mb2">
    <div class="layout__item">
      <h2 class="xs-gamma">BEM naming conventions</h2>
    </div>
    <div class="layout__item">
      <p class="xs-gamma">
        <code>block__element--modifier</code> syntax keeps you out of the documentation and in the markup.  Fortitude
        classes follow consistent conventions.  You'll be amazed at how often you 'guess right' at the class you need.
        For more, check out this article <a href="http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/">MindBEMding – getting your head ’round BEM syntax</a> by <a href="http://csswizardry.com/about/">Harry Roberts</a>
      </p>
    </div>
  </div>

  <div class="layout xs-mb2">
    <div class="layout__item">
      <h2 class="xs-gamma">Don't Fight the Cascade</h2>
    </div>
    <div class="layout__item">
      <p class="xs-gamma">
        Fortitude classes apply the styles you want without a ridiculous incomprehensible tree of 'inheritance'.
        When you need new functionality, extending Fortitude is a breeze, and you won't spend time playing wack-a-mole in your CSS if you follow the fortitude conventions outlined <a data-ng-href="#architecture">here</a>.
      </p>
    </div>
  </div>


  <div class="layout xs-mb2">
    <div class="layout__item">
      <h2 class="xs-gamma">Build however you want</h2>
    </div>
    <div class="layout__item">
      <p class="xs-gamma">
        Unlike <code>&lt;mocking&gt;</code>soooome<code>&lt;/mocking&gt;</code> frameworks, Fortitude doesn't get into your way.
        You think in visual styles instead of abstract component names, and we don't dump an entire visual codebase into your project.
        It's up to you to establish a visual theme with a designer or a tool like Adobe Kuler.
      </p>
    </div>
  </div>

  <div class="layout xs-mb2">
    <div class="layout__item">
      <h2 class="xs-gamma"><del>For CSS Wizards only</del></h2>
    </div>
    <div class="layout__item">
      <p class="xs-gamma">Lol, jk, everyone can totes use it.</p>
    </div>
  </div>
</div>
